@import './base.css';

.form-container,
.form-container *,
.login-btn,
.forgot-pass-text {
  z-index: 1000;
}
.login-btn {
  width: 100%;
  background-color: var(--white);
  color: var(--blue);
}
.user-input {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
}
.el-input__wrapper {
  background-color: transparent;
}
el-input__prefix-inner,
.el-input__inner,
.el-text {
  color: white;
}
.form-container {
  max-width: 300px;
  width: 100%;
}
