@import './base.css';
@import './login.css';
@import './registration.css';
#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: black;
  height: 100lvh;
  color: #F97316;
}

h2{
  color: #F97316
}

.el-icon{
  color: #F97316;
}

.el-button--primary{
  background-color: #F97316;
  border-color: #F97316;
}

.is-plain{
  background-color: transparent;
  color: #F97316;
}

.el-form-item__error{
  padding-top: 0px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
.el-form{
  padding: 1rem;
}
.el-card{
  padding: .5rem;
}
.el-row{
  height: 100% !important;
  width: 100% !important
}
.background {
  /* background-color: var(--blue); */
  height: 100vh;
  width: 100%;
  justify-items: center;
  align-content: center;
}
.bg-1 {
  position: absolute;
  top: 0;
  right: 0;
}
.ellipse {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* .bg {
  z-index: -1000;
} */
